html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex; 
}

.app-container > [data-panel-group] {
  flex-grow: 1;
  height: 100%; 
}

[data-panel] {
  display: flex; 
  flex-direction: column; 
  overflow: hidden; 
}

.pane {
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column; 
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
}

.bottom-pane {
  background-color: white;
}

.top-pane > [data-panel-group] {
  flex-grow: 1; 
  height: 100%;
}


.pane > [data-panel-group] > [data-panel] > .editor-container,
.pane > [data-panel-group] > [data-panel] > * { 
  height: 100%;
  width: 100%;
}

[data-panel] > .editor-container,
[data-panel] > * { 
    height: 100%;
    width: 100%;
}


.bottom-pane iframe {
  border: none; 
}

.resize-handle-vertical, .resize-handle-horizontal {
  background-color: hsl(225, 6%, 18%); 
  z-index: 10; 
  transition: background-color 0.15s ease;
}

.resize-handle-vertical {
  width: 3px; 
  cursor: col-resize;
}

.resize-handle-horizontal {
  height: 3px; 
  cursor: row-resize;
}

.resize-handle-vertical:hover, .resize-handle-horizontal:hover,
.resize-handle-vertical[data-resize-handle-active="true"], 
.resize-handle-horizontal[data-resize-handle-active="true"] {
  background-color: hsl(225, 6%, 30%); 
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(225, 6%, 25%);
  height: 100%; 
  width: 100%;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.pane {
  display: flex;
}

.bottom-pane {
  background-color: white;
  height: 50vh;
}

.borderless-frame {
  border: none;
}

.borderless-frame iframe {
  border: none; 
  width: 100%;
  height: 100%;
}
